$panel-color: #e3ecfa;
$content-color: #c9edf5;
$space: 20px;

%center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

@import './components/search/search';
@import './components/toolbar/toolbar';
@import './components/tree/tree';
@import './components/editor/editor';
@import './components/componentName/componentName';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: auto;
}

.wrapper {
  width: 90%;
  margin: 0px auto;
  display: flex;
  height: calc(100% - 50px);
  border: 1px solid black;
  margin-top: 25px;

  .panel {
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: $panel-color;

    &.closed {
      width: 400px;
    }

    > div {
      padding: $space;
    }
  }

  .content {
    flex: 1;
    background-color: $content-color;
    display: flex;
    flex-direction: column;

    > div {
      padding: $space;
    }
  }

  button {
    cursor: pointer;
  }
}